<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Pet Society web API!</h1>
                <h2>This is an open source API for anyone to use</h2>
            </hgroup>
            <p>
                For usage please email us at enquire@petSociety.com
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Download our app at the Window and Google Play store!
            </li>

            <li class="two">
                <h5>GO google!</h5>
                Google makes it easy to learn anything!
                <a href="http://www.google.com">Google</a>
            </li>
            <li class="three">
                <h5>Kill Yourself</h5>
                If all else fails... Kill yourself
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>
</div>
